.wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
   
}
.conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0px 2rem;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    
}
.card img{
    width: 190px;
    border-radius: 50%;

}
.flexCol{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
@media (max-width: 750px) {
    .conteiner{
        width: 100%;
    }
    .wrapper{
        display: flex;
        padding: 1rem;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }
    
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 20px;
        
    }
    .card img{
        width: 100px;
    
    }
    .title{
       margin: 10px;
       text-align: center;
    }
}