.profileCol {
  display: flex;
  align-items: flex-end;
}

.userInfo {
  display: flex;
  flex-direction: column;
}
.proimg {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}
.proimg div {
  display: flex;
  flex-direction: column;
}
.proImgae {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.profileWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8rem;
}
.profileInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 0px 2rem;
}
.edits {
  padding: 10px 19px;
  background: rgb(0, 0, 0);
  color: white;
}
.buttonCol {
  display: flex;
  gap: 10px;
}

.selectFliter {
  padding: 10px 20px;
  margin: 0px 4px;
  font-weight: bold;
}
.divder {
  width: 80%;
  margin: auto;
  height: 1px;
  background: gray;
}
.tab {
  display: flex;
  flex-direction: column;
}
.tabButton {
  width: 100%;
  padding: 1rem 10rem;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: flex-start;
}
.tabButton span {
  cursor: pointer;
}
.listings {
  cursor: pointer;
  border-bottom: 1px solid black;
}
.feedbacK {
  border-bottom: 1px solid black;
}
.profileEditWrappper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 10rem;
}
.profileLink li {
  margin: 40px 20px;
  list-style: none;
}
.profileLink li a {
  text-decoration: none;
  color: black;
}
.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 40vw;
}
.formWrapper input {
  padding: 15px 40px;
  margin-right: 20px;
}

.formWrapper select {
  padding: 15px 40px;
  margin-right: 20px;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}
.formFlex {
  display: flex;
}
.formWrapper textarea {
  padding: 45px 40px;
}
.formWrapper button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-size: 1rem;
}
.activeTab {
  border-bottom: 2px solid black;
  margin: 0px 10px;
}
.sallerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4rem 0px;
  text-align: center;
  background: rgb(254, 254, 254);
}
.bacthCOL {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sellerScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.feedcard {
  display: flex;
  width: 30rem;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.253);
  margin: 40px 0px;
  padding: 1rem;
  gap: 20px;
}
.feedbackCol {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.batchFiled {
  display: flex;
  gap: 10px;
}
.feedData {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.close{
  display: none;
}
@media (max-width: 750px) {
  .profileCol {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    padding: 0px 2rem;
    width: 100%;
  }
  .proimg {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .proImgae {
    width: 100px;
  }
  .profileWrapper {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  .profileInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .bio {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .close {
    display: block;
  }
}
.productFilter {
  width: 15vw;
  overflow: scroll;
  height: 100vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  margin-right: 20px;
}
.productFilter::-webkit-scrollbar {
  display: none;
}
.checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkbox input {
  margin: 10px 0px;
}

.ProductSildes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 15rem;
}
.imgCol {
  position: relative;
}
.imgCol img {
  width: 13rem;
  height: 15rem;
}
.tags {
  position: absolute;
  top: 4%;
  left: 2%;
  background-color: black;
  color: whitesmoke;
  padding: 5px 4px;
}
.descCol {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 4rem 8rem;
  width: 100vw;
  height: 100%;
}
.wrapper2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  width: 100vw;
  height: 100%;
}
.productWrapprer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 60vw;
  height: 100%;
}
.productWrapprer .ProductSildes {
  margin: 20px;
}
.priceCol {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 4px 0px;
}
.btn {
  background: transparent;
  border: none;
}
.title {
  font-weight: bold;
  margin: 4px 0px;
}
.price {
  font-weight: bold;
}
.floorPrice {
  text-decoration: line-through;
  color: gray;
  font-size: 13px;
  margin: 3px;
}
.discount {
  font-size: 12px;
}
.sizeBox {
  width: 100%;
  background: whitesmoke;
  color: rgba(128, 128, 128, 0.65);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sizeBox {
  font-size: 12px;
}
.sizeBox .btn {
  background: rgb(255, 255, 255);
  padding: 10px 25px;
  border-radius: 3px;
  margin-top: 4px;
  font-weight: bold;
  border: 1px solid rgba(128, 128, 128, 0.35);
}
.selectFliter {
  padding: 10px 20px;
  margin: 0px 4px;
  font-weight: bold;
}
.fiterButton {
  display: none;
}
@media (max-width: 750px) {
  .fiterButton {
    display: block;
    margin: 10px 20px;
  }
  .productFilter {
    width: 100vw;
    overflow: scroll;
    height: 100vh;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    transition: transform 0.3s ease;
    background: white;
  }

  .tabButton {
    width: 100vw;
    padding: 1rem 10px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
  }
  .productFilter.closed {
    transform: translateX(-100%);
    /* Hide the sidebar when closed */
  }

  .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 4rem 2rem;
    width: 100vw;
    height: 100%;
  }
  .wrapper2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    width: 100vw;
    height: 100%;
  }
  .productWrapprer {
    display: flex;
    align-items: center;
  }
  .ProductSildes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 6rem;
  }
}
