.productFilter {
  width: 15vw;
  overflow: scroll;
  height: 100vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
  margin-right: 20px;
}
.productFilter::-webkit-scrollbar {
    display: none;
  }
.checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkbox input {
  margin: 10px 0px;
}

.ProductSildes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 15rem;
}
.imgCol {
  position: relative;
}
.imgCol img {
  width: 13rem;
  height: 15rem;
}
.tags {
  position: absolute;
  top: 4%;
  left: 2%;
  background-color: black;
  color: whitesmoke;
  padding: 5px 4px;
}
.descCol {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 4rem 8rem;
  width: 100vw;
  height: 100%;
}
.wrapper2 {
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 2rem;
    width: 100vw;
    height: 100%;
  }
.productWrapprer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 60vw;
  height: 100%;
}
.productWrapprer .ProductSildes {
  margin: 20px;
}
.priceCol {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 4px 0px;
}
.btn {
  background: transparent;
  border: none;
}
.title {
  font-weight: bold;
  margin: 4px 0px;
}
.price {
  font-weight: bold;
  color: blue;
}
.floorPrice {
  text-decoration: line-through;
}
.sizeBox{
    width: 100%;
    background: whitesmoke;
    color: rgba(128, 128, 128, 0.65);
    padding: 2rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.sizeBox{
    font-size: 12px;
}
.sizeBox .btn{
  background: rgb(255, 255, 255);
  padding: 10px 25px;
  border-radius: 3px;
  margin-top: 4px;
  font-weight: bold;
  border: 1px solid rgba(128, 128, 128, 0.35);
}
.selectFliter{
    padding: 10px 20px;
    margin: 0px 4px;
    font-weight: bold;
}
.fiterButton{
  display: none;
}
@media (max-width:750px) {
  .fiterButton{
    display:block;
    margin: 10px 20px;
  }
  .productFilter {
    width: 70vw;
    overflow: scroll;
    height: 100vh;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 999;
    transition: transform 0.3s ease; 
    background: white;
  }

  
  .productFilter.closed {
    transform: translateX(-100%);
    /* Hide the sidebar when closed */
  }
  
  .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 4rem 2rem;
    width: 100vw;
    height: 100%;
  }
  .wrapper2 {
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 2rem;
    width: 100vw;
    height: 100%;
    padding: 0px 2rem;
  }
  .productWrapprer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100%;
    font-size: 15px;
  }
}