.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30vw;
  gap: 20px 0px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiperslide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.742);
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.436);
  border-radius: 4px;
  height: 200px;
}
.feedBackCard{
  display: flex;
}

.reletedSearch{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
   padding: 1rem;
}
.reletedSearch p{
  border: 1px solid black;
  padding: 10px;
}
.selects{
  width: 400px;
}

.btn1 {
  width: 100%;
  background: black;
  color: white;
  padding: 25px 42px;
  margin: 20px 0px 0px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.btn2 {
  width: 100%;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.628);
  padding: 25px 42px;
  margin: 20px 0px 0px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.sugcol1 {
  margin: 4rem 20px;
}
.vendor {
  padding: 10px 20px;
  background: black;
  color: white;
  margin: 20px 0px;
}
.reportBtns{
  display: flex;
  gap: 20px;
  align-items: center;
}
.reportBtns button{
  padding: 10px 20px;
  font-weight: bold;
  background-color: transparent;
  align-items: center;
  display: flex;

}
.modalInputCOl{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 750px) {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    gap: 2rem;
  }
  .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100vw;
    gap: 20px 0px;
    padding: 10px;
  }
  .btn1 {
    width: 100%;
    background: black;
    color: white;
    padding: 20px 32px;
    margin: 20px 0px 0px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
  }
  .btn2 {
    width: 100%;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.628);
    padding: 20px 32px;
    margin: 20px 0px 0px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
  }
}
