.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 6rem;
  padding: 2rem 0px;
}
.infoWrapper{
  display: flex;
}
.greenRating .MuiRating-iconFilled {
  color: green;
}

.wrapper h2{
  font-weight: bold;
  font-size: 20px;
  margin: 4px 0px;
 
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25vw;
  gap: 17px 0px;
}
.swiper {
  width: 100%;
  display: flex;
  align-items: center;
}
.profileInfo{
  display: flex;
}
.description{
  line-height:30px;
}
.swiperslide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.742);
  border: 1px solid rgba(0, 0, 0, 0.436);
  border-radius: 4px;
  height: 180px;
  padding: 20px;
  width: 150px;
}
.swiperslid img{
  width:100px ;
}
.serchCol{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}
.feedFlex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.feedBackCard{
  display: flex;
}
.followbtn{
  padding: 7px 9px;
  background: black;
  color: white;
}
.svgs{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reletedSearch{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;


}
.reletedSearch p{
  border: 1px solid black;
  padding: 10px;
}
.selects{
  width: 400px;
}
.btn1 {
  width: 100%;
  background: black;
  color: white;
  padding: 20px 22px;
  margin: 5px 0px 0px;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
}
.btn2 {
  width: 100%;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.628);
  padding: 20px 22px;
  margin: 5px 0px 0px;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
}
.sugcol1 {
  margin: 4rem 20px;
}
.vendor {
  padding: 10px 20px;
  background: black;
  color: white;
  margin: 20px 0px;
}
.reportBtns{
  display: flex;
  gap: 20px;
  align-items: center;
}
.reportBtns button{
  padding: 10px 20px;
  font-weight: bold;
  background-color: transparent;
  align-items: center;
  display: flex;

}
.modalInputCOl{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.offerModals{
  display: flex;
  align-items: center;
  gap: 10px;
}
.offerInfo{
  display: flex;
  gap: 4px;
}
.offerInput{
  width: 400px;
  border-bottom: 1px solid blue;
  background: none;
  border: none;
}
@media (max-width: 750px) {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    gap: 2rem;
  }
  .svgs{
    display: none;
  }
  .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100vw;
    gap: 20px 0px;
    padding: 10px;
  }
  .btn1 {
    width: 100%;
    background: black;
    color: white;
    padding: 20px 32px;
    margin: 20px 0px 0px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
  }
  .btn2 {
    width: 100%;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.628);
    padding: 20px 32px;
    margin: 20px 0px 0px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
  }
}
